:root {
    --button-request-color: #0060B6;
    --hover-color: #2196F3;
    --title-color: #212121;
    --paragraph-color: #757575;
    --background-color: #EEEEEE;
}
body {
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    background-color: #FFFFFF;
    color: var(--title-color);
}
/* Header-section */

.nav-link {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
} 
.nav-link-current:visited {
    color: var(--hover-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--hover-color);
}
.nav-link:active {
    color: #ff0000;
}

li {
    list-style: none;
}

.site-name1 {
    color: var(--hover-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.site-name2 {
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.contacts {
    text-decoration: none;
    color: var(--paragraph-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts a:hover {
    color: var(--hover-color);
}

/* Studio-section */

.content-page {
    background-color: #2F303A;
    color: #FFFFFF;
    width: 1600px;
    height: 600px;
    top: 80px;
}

.title  {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    font-size: 44px; 
    font-weight: 900; 
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
}

.button-request {
    color: #FFFFFF;
    background-color: var(--hover-color);
    cursor: pointer;
    width: 161px;
    height: 30px;
    top: 440px;
    left: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 6%;
    text-align: center;
}
.button-request:hover {
    background-color: var(--button-request-color);
    color: #FFFFFF;
}


/* Portfolio-section */

.button {
    background-color: #F5F4FA;
    color: var(--title-color);
    cursor: pointer;
    border: none;
    font: Roboto;
    width: 500;
    size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
}
.button :hover {
    background: var(--hover-color);
    color: #FFFFFF;
}

.about-us h3 {
    color: var(--title-color);
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
}

.about-us li {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}

.what-we-do h2 {
    color: var(--title-color);
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}

.images {
    width: 370px;
    height: 294px;
    top: 1061px;
}

.our-team h2 {
    color: var(--title-color);
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}

.our-team h4 {
    color: var(--title-color);
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
}

.our-team p {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
}

.main-section img {
    width: 370px;
    height: 294px;
}
.main-section h2 {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1,8px;
}
.main-section p {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3%;
}

.cards {
    background-color: var(--backround-color);
}
.first-card {
    top: 262px;
    left: 215px;
    border: 1px;
}
.second-card {
    top: 262;
    left: 615px;
    border: 1px;
}
.third-card {
    top: 262px;
    left: 1015px;
    border: 1px;
}
.fourth.card {
    top: 696px;
    left: 215px;
    border: 1px;
}
.fifth-card {
    top: 696px;
    left: 615;
    border: 1px;
}
.sixth-card {
    top: 696px;
    left: 1015px;
    border: 1px;
}
.seventh-card {
    top: 1130px;
    left: 215px;
    border: 1px;
}
.eighth-card {
    top: 1130px;
    left: 615px;
    border: 1px;
}
.ninth-card {
    top: 1130px;
    left: 1015px;
    border: 1px;
}


/* Footer-section */

.footer {
    background-color: #2F303A;
    width: 1600px;
    height: 251px;
    top: 2097px;
}

.address {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
}
.contacts-footer {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;

}

.logo1 {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;

}
.logo2 {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

